html{
    height:100%;
    
}
body{
    overflow: hidden;
    height:100%;
    background-color: black;
    color: white;
    font-family: Modesto,sans-serif;
    background-image: url("igvsdg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center top
}
h1 {
    text-transform: uppercase;
    font-size: 5em;
   
}
h2 {
    text-transform: uppercase;
    font-size: 3em;
    
}



.textbox{
    height:100%
}
.textbox-right{
    margin-right: 50px;
}
.textbox-left{
    margin-left: 50px;
}

#containerleft{
    height:100%;
    width: 50%;
    float: left; 
    /*background-image: url("dg2.jpg");*/
    background-repeat:no-repeat;
    background-position: left top;
}
#containerright{
    height:100%;
    width: 50%;
    float: right; 
    /*background-image: url("ig.jpg");*/
    background-repeat:no-repeat;
    background-position: right top;
}
.wrap_right{text-align:right}

.faction{
    margin: 0;
}
.role{
    margin:0;
}

h3{
    font-size: 2em;
}