html{
    height:100%;
    
}
body{
    overflow: hidden;
    height:100%;
    background-color: black;
    color: white;
    font-family: Modesto,serif;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center top;
    margin:0;
    text-shadow: 0px 0px 15px #333;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}
h1, h2, h3, h4{
    text-transform: uppercase;
}
h1 {
    font-size: 5em;
}
h1.vpcp {
    margin: 0em;
}
h2 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
}
.vpbutton{
}
span#currentphase{
    width: 285px;
    display: inline-block;
}
.roundmargin{
    margin:auto 1em;
}
select{
    background:none;
    color:white;
    border: none;
    font-family:Modesto,serif;
    font-size: 1em;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-shadow: 0px 0px 15px #333;
}
select option{
    background-color: black;
    color: white;
    font-size: 0.5em;
}
.vpbutton:hover{
    color:gray;
}
.vpbutton:active{
    color:black;
}
#containerround h3 {
    line-height: 0.5em;
}
#containerround{
    text-align: center;
    margin:0 auto;
    width:481px;
    bottom:0;
    background-color: Black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
}
h3#timer {
    margin-top: 0;
    display:inline-block;
}

h3.timerbutton{
    margin-top: 0;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}
a#resetButton {
    position: absolute;
    margin-left: 10px;
    top: 173px;
}
#containerprimary{
    display:none;
    /*position:absolute;*/
    text-align: center;
    
    margin:0 auto;
    width:481px;
    bottom:0;
    background-color: Black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
}
span.vpsecondary {
    /*margin: 0 0.5em;*/
}
#cpleft {
    margin-left: 75px;
}
#cpright {
    margin-left: 75px;
}
#primaryvpleft,#primaryvpright, #secvp1left,#secvp1right{
    display:inline-block;
    width: 32px !important;
    text-align: right;
}
#secvp2left, #secvp3left, #secvp2right,#secvp3right, #secvp2left{
    display: none;
    width: 32px;
    text-align: right;
    
}
#leftsecondary2{
    display: none;
}
#totalvpleft,#totalvpright,#cpright,#cpleft{
    width:75px;
    text-align: right;
    display: inline-block;
}

.textbox-right p{
    margin-top:0;
    text-align: right;
}
a.vpup:hover{
    color: lightgreen;
    }
a.vpup:active{
        color: limegreen;
        }
a.vpdown:hover{
color: pink;
}
a.vpdown:active{
    color: darkred;
    }
.textbox{
    height:100%
}
.textbox-right{
    margin-right: 50px;
}
.textbox-left{
    margin-left: 50px;
}

#containerleft{
    height:100%;
    width: 50%;
    float: left; 
    /*background-image: url("images/bg_custodes.jpg");*/
    background-size: cover;
    background-repeat:no-repeat;
    background-position: left top;
}
#containerright{
    height:100%;
    width: 50%;
    float: right; 
    /*background-image: url("images/bg_ig.jpg");*/
    background-size: cover;
    background-repeat:no-repeat;
    background-position: right top; 
    

}




.wrap_right{
    text-align:right;

}

.mirrored {

  }

.faction{
    margin-top: 0.4em !important;
    margin: 0;
}
.role{
    margin:0;
}

h3{
    font-size: 2em;
}

h3.sec{
    margin-bottom: 0;   
    margin-top: 0;   
    
}
select.secondaryselector{
    margin-bottom:1em
}
#mission{
    text-align: center;
}
#containersecondaries{
    
}